:root {
    --font-base: "Open Sans", sans-serif;
    --color-bg: #a81919;
    --color-bg-cell: #9E3900;
    --color-bg-cell-hover: #913501;
    --color-bg-board: #D8AA89;
    --color-primary: #da5b07;
    --color-light: #FFFFFF;
    --color-dark: #333333;

    --container-width: 1200px;
    --container-padding-x: 15px;
}